* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

ol:not(.get_list_style ol),
ul:not(.get_list_style ul) {
	list-style: none;
}

del {
	text-decoration: line-through;
}
body {
	font-family:'Montserrat', sans-serif;
    font-size: 18px;

	color: #fff;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
	letter-spacing: 0.05em;
	scroll-behavior: smooth;
	position: relative;
    background: #000000;
}
p {
	line-height: 1.6;
	color: #fff;
	font-size: 17px;
	line-height: 140%;
}

input,
textarea,
select {
	font-weight: 500;
	cursor: pointer;
	color: #ffffff;
}

a {
	color: #fff;
	cursor: pointer;
	letter-spacing: 0.05em;
}

button {
	cursor: pointer;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1350px;

}
.overlay{
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}
.overlay2{
    z-index:-1;
     opacity: 0.7;
     background: #000000;
     position: absolute;
     width: 100%;
     height: 100%;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 100px;
    position: absolute;
    width: 100%;
    top: 0;
}
header .right{
    width: 50%;
}

header .right ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .right ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
header .right ul li a{
    font-weight: 500;
}
#content{
    width: 100%;
    height:100%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
#content .container{ 
    width:70%;
}
#content .container .subContainer{
   
}

#content .container .head {
    margin-bottom: 20px;
}
#content .container .head h6{
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}
#content .container form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#content .container .bottom input{
    margin-bottom: 17px;
	padding: 18px 25px;
	background: #000000;
    opacity: 1;
	width: 100%;
    font-size: 16px;
    width: 49.5%;
    border: 1px solid rgb(0, 0, 0);
}
#content .container .bottom input:hover,#content .container .bottom input:focus{
    border: 1px solid #fff;
}
#content .container .bottom form .twoInput{
    display: flex;
    width: 49.5%;
    justify-content: space-between;
}
#content .container .bottom form .twoInput input{
    width:49%
}
#content .container .bottom form  .w-100{
    width: 100%;
}#content .container .bottom .button{
    margin: 0 auto;
}
#content .container .bottom .submit{
    background: #ffffff;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 14px;
}

.custom-select {
    position: relative;
    font-family: Arial;
    width: 49% !important;
}
  
  .custom-select select {
    display: none; /*hide original SELECT element:*/
  }
  
  .select-selected {
    background: #000000;
  }
  
  /*style the arrow inside the select element:*/
  .select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 25px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /*point the arrow upwards when the select box is open (active):*/
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top:18px;
  }
  
  /*style the items (options), including the selected item:*/
  .select-items div,.select-selected {
    color: #757575;
    padding: 18px 25px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    font-size:16px;
  }
  
  /*style items (options):*/
  .select-items {
    position: absolute;
    background: #000000;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /*hide the items when the select box is closed:*/
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: #2d2d2d;
  }
 #content .container .bottom form input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* datepicker */
.custom-date {
    width:49.5%;
}
.custom-date input {
    width:100% !important; 
}
.custom-date input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

@media all and (max-width: 1280px) {
    header .right{
        display: none !important;
    }
        
}
@media all and (max-width: 1027px) {
    .overlay {  
        height:auto;
    }
    #content .container {
        width: 80%;
        padding:200px 0 100px
    }
}   
@media all and (max-width: 872px) {
    #content .container .bottom input{
        width:100%;
    }
    #content .container .bottom form .twoInput{
        width:100%;
    }
}
@media all and (max-width: 480px) {
    header{
        padding:20px 30px;
    }
    #content .container{
        width: 90%;
    }
}


.navigation{
    position:relative;
    width:50px;
    z-index: 100;
}
.navigation a{
}
.sidenav {
    background: #000;
    display: block;
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    overflow-x: hidden;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    -ms-transition: all 0.9s;
    -o-transition: all 0.9s;
    transition: all 0.9s;
    text-align: center;
}
.sidenav .menu{
    width: 50%;
    margin: 0 auto;
}
.sidenav a {
    font-size: 20px;
    color: #fff;
    display: inline-block;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    line-height: 3;
    text-align: left;
}
.sidenav ul li:hover a{
    color: #F7AF39;
}
.sidenav .closebtn {
    position: absolute;
    top: -30px;
    right: 25px;
    font-size: 50px;
}
.sidenav .menu ul li a{
    display: inline-block;
    width: 300px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
span.menu-txt {
    position: absolute;
    left: 28px;
    width: 24px;
    color: #FFF;
    line-height: 1.2222;
    font-size: 12.5px;
}

.pages-list {
    position: absolute;
    z-index: 3;
    top: 50%;
    -webkit-transform: translate(140px, -50%);
    transform: translate(140px, -50%);
    list-style: none
}
.pages-list .inner {
    position: relative;
    padding-left: 120px;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .75s;
    transition: -webkit-transform .75s;
    transition: transform .75s;
    transition: transform .75s, -webkit-transform .75s;
}
.pages-list .label {
    font-family: uni_sansbold, sans-serif;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    pointer-events: visiblePainted
}
.pages-list .num {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    transform: translate3d(-50%, -50%, 0) rotate(-90deg);
    font-family: roboto_condensedbold, sans-serif;
    font-size: 12px;
    color: #fff
}
.pages-list .num:before {
    content: "";
    left: 50%;
    bottom: -10px;
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: translateX(-3px) rotate(45deg) scale(0);
    transform: translateX(-3px) rotate(45deg) scale(0)
}
.pages-list .line,
.pages-list .num:before {
    position: absolute;
    background-color: #fff;
    transition: transform .35s, -webkit-transform .35s;
}
.pages-list .line {
    left: 125px;
    top: 50%;
    width: 110px;
    height: 1px;
    -webkit-transform: translateX(-100%) scaleX(0);
    transform: translateX(-100%) scaleX(0);
}


.navigation a .bar-1{
    position:relative;
    height:25px;
    margin:0 2px 0 1px;
    width:1px;
    background:transparent;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms;
    transition:all 400ms;
    display:inline-block;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms
}
.navigation a .bar-1:after{
    content:"";
    position:absolute;
    display:inline-block;
    float:left;
    left:0;
    bottom:0;
    background:#FFF;
    height:100%;
    width:1px;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms
}
.navigation a .bar-1:first-child:before{
    position:absolute;
    content:"";
    height:0%;
    margin:0 2px 0 1px;
    width:1px;
    left:-1px;
    bottom:0;
    background:#FFF;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms;
    animation:mymove 700ms infinite;
    -webkit-animation:mymove 700ms infinite;
    z-index:1
}
@keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    23%{
        height:0%
    }
    to{
        height:100%
    }
}
@-webkit-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    23%{
        height:0%
    }
    to{
        height:100%
    }
}
@-moz-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    23%{
        height:0%
    }
    to{
        height:100%
    }
}
.navigation a .bar-1:nth-child(2):before{
    position:absolute;
    content:"";
    height:0%;
    margin:0 2px 0 1px;
    width:1px;
    left:-1px;
    bottom:0;
    background:#FFF;
    animation:mymove 800ms infinite;
    -webkit-animation:mymove 800ms infinite;
    z-index:1
}
@keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    40%{
        height:0%
    }
    to{
        height:100%
    }
}
@-webkit-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    40%{
        height:0%
    }
    to{
        height:100%
    }
}
@-moz-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    40%{
        height:0%
    }
    to{
        height:100%
    }
}
.navigation a .bar-1:nth-child(3):before{
    position:absolute;
    content:"";
    height:0%;
    margin:0 2px 0 1px;
    width:1px;
    left:-1px;
    bottom:0;
    background:#FFF;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms;
    animation:mymove 1s infinite;
    -webkit-animation:mymove 1s infinite;
    z-index:1
}
@keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    60%{
        height:0%
    }
    to{
        height:100%
    }
}
@-webkit-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    60%{
        height:0%
    }
    to{
        height:100%
    }
}
@-webkit-keyframes mymove{
    0%{
        height:0%
    }
    12%{
        height:100%
    }
    60%{
        height:0%
    }
    to{
        height:100%
    }

}
.navigation a:hover .bar-1:after{
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    -webkit-transition:all 400ms;
    transition:all 400ms;
    background:transparent;
    
}